@import "../../variables";


.current_films_card {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  height: 480px;
  @include card();

  img {
    // width: 100%;
    height: 390px;
    border-bottom: 1px solid $border_color;
    border-radius: 5px;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .description {
      font-size: 12px;
      text-transform: uppercase;
      margin-top: -15px;

      .separator {
        margin: 0 5px;
      }
    }
  }


}
