@import "../../variables";

.navigation {
  height: 50px;
  display: flex;
  flex-direction: row;
  color: $font_color;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    // width: 200px;

    .logo_image {
      height: 32px;
      width: 32px;

      .material-icons {
        font-size: 36px;
      }
    }

    .logo_name {
      font-size: 32px;
      margin-left: 12px;
      text-transform: uppercase;
      font-family: fantasy;
      margin-top: 12px;
    }
  }

  .menu {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: row;
    justify-content: center;

    .menu_item {
      position: relative;
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 15px 0px 15px;
      font-size: 18px;
      text-transform: uppercase;
      color: $font_color;
      text-decoration: none;

      transition: color 0.3s;

      &:hover {
        // color: $color_selected;
        color: white;
      }

      &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 0%;
        background: $color_selected;
        bottom: 0px;
        left: 0px;
        transform: translate(50%, 0%);
        opacity: 0;

        transition: transform 0.3s, opacity 0.3s, box-shadow 0.2s 0.2s;
      }

      &.active {
        color: $font_color;

        &::before {
          content: "";
          position: absolute;
          height: 3px;
          width: 100%;
          background: $color_selected;
          bottom: 0px;
          left: 0px;
          transform: translate(0%, 0%);
          opacity: 1;
          box-shadow: 0px -1px 10px 0px rgba($color_selected, 0.65);
        }

        &:hover {
          // color: $color_selected;
          color: white;
        }
      }
    }
  }

  .search {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 200px;
    justify-content: flex-end;

    .search_check {
      display: none;

      &:checked {
        & + .search_input {
          width: 160px;
          opacity: 1;
        }

        ~ .search_icon {
          color: $color_selected;
        }
      }
    }

    .search_input {
      height: 20px;
      width: 0px;
      margin: 12px 5px 0 0;
      padding: 1px 4px;
      opacity: 0;

      background: transparent;
      border: none;
      border-bottom: 1px solid $font_color;
      font-size: 14px;
      color: $font_color;

      transition: border-bottom 0.3s, width 0.3s;

      &:hover,
      &:focus {
        border-bottom: 1px solid $color_selected;
        outline: none;
      }
    }

    .search_icon {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: $font_color;

      transition: color 0.3s;

      &:hover {
        // color: $color_selected;
        color: white;
      }
    }
  }

  .login {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;

    .separator {
      display: flex;
      justify-content: center;
      // align-items: center;
      margin: 16px 10px;
      width: 1px;
      height: 20px;
      background: white;
    }

    .login_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }

    .login_text {
      display: flex;
      // justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin-left: 5px;
      width: 100px;
      font-size: 14px;

      transition: color 0.3s;

      &:hover {
        // color: $color_selected;
        color: white;
      }
    }

    .user_menu {
      // display: none;
      position: absolute;
      left: 10px;
      top: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1d1d1d;
      border: 1px solid #222222;
      height: 30px;
      width: 110px;
      z-index: 10;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transform: scale(0);
      transition: transform 0.2s;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);

      .menu_text {
        font-size: 14px;
        text-transform: uppercase;
        transition: color 0.3s;

        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }

    .log_menu {
      position: absolute;
      right: 10px;
      top: 52px;
      display: flex;
      flex-direction: column;
      background: #1d1d1d;
      border: 1px solid #222222;
      // height: 30px;
      // width: 110px;
      z-index: 20;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transform: scale(0);
      transition: transform 0.2s;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      padding: 10px 20px;

      input {
        height: 20px;
        width: 160px;
        margin: 10px 0px;
        padding: 1px 4px;
        // opacity: 0;

        background: transparent;
        border: none;
        border-bottom: 1px solid $font_color;
        font-size: 14px;
        color: $font_color;

        transition: border-bottom 0.3s, width 0.3s;

        &:hover,
        &:focus {
          border-bottom: 1px solid $color_selected;
          outline: none;
        }
      }

      .menu_text {
        font-size: 14px;
        text-transform: uppercase;
        transition: color 0.3s;

        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 10px;

      .cancel,
      .accept {
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;
        transition: color 0.3s;

        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }

    #check_log_menu {
      display: none;

      &:checked {
        & ~ .log_menu {
          transform: scale(1);
        }
        & ~ #not_loged {
          color: white;
          .material-icons {
            transform: rotate(180deg);
          }
        }
      }
    }

    #loged,
    #not_loged {
      .material-icons {
        font-size: 16px;
        margin-left: 3px;
        transition: transform 0.2s;
      }
    }

    #check_user_menu {
      display: none;

      &:checked {
        & ~ .user_menu {
          transform: scale(1);
        }
        & ~ #loged {
          color: white;
          .material-icons {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .error_win {
    position: absolute;
    // top: 0px;
    left: calc(100% / 2 - 100px);
    // height: 200px;
    width: 400px;
    background: rgba(200, 0, 0, 0.85);
    border: 1px solid rgb(161, 0, 0);
    z-index: 2;
    transform: rotateX(50%);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: top 0.3s, opacity .3s;

    .title {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .description {
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 16px;
    }

    .close {
      position: absolute;
      bottom: 0px;
      right: 0px;
      cursor: pointer;
      transition: color .3s;

      &:hover {
        color: white;
      }
    }

    &.show {
      top: 0px;
      opacity: 1;
    }

    &.hiden {
      top: -100px;
      opacity: 0;
    }
  }
}
