<div class="footer">
  <div class="footer_content">
    <div class="footer_line"></div>
    <div class="navigation">
      <div class="icon">
          <i class="fa fa-facebook" aria-hidden="true"> </i>
      </div>
      <div class="icon">
          <i class="fa fa-twitter" aria-hidden="true"> </i>
      </div>
      <div class="icon">
          <i class="fa fa-instagram" aria-hidden="true"> </i>
      </div>
      <div class="icon">
          <i class="fa fa-youtube" aria-hidden="true"> </i>
      </div>
    </div>
    <div class="footer_line"></div>

    <div class="footer_text">
        © 2019 Damian Ruta. Wszelkie prawa zastrzeżone. Strona może zawierać treści przeznaczone wyłącznie dla widzów dorosłych.
    </div>
  </div>
</div>
