<p class="hd1">Repertuar</p>

<div class="current_films">
  <div class="current_films_slider">

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

  </div>
</div>

<p class="hd1">Zapowiedzi</p>

<div class="promised_films">
  <div class="promised_films_ball">
    <div class="poster">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
    </div>
  </div>

  <div class="promised_films_ball">
    <div class="poster">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
    </div>
  </div>

  <div class="promised_films_ball">
    <div class="poster">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
    </div>
  </div>

  <div class="promised_films_ball">
    <div class="poster">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
    </div>
  </div>

</div>

<app-footer></app-footer>
