<p class="hd1">Repertuar</p>

<div class="current_films">
  <div class="current_films_slider">

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <div class="current_films_card">
      <img
        src="https://media.multikino.pl/thumbnails/50/rc/MEIxMzBF/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/rocketman-pl-1_958bdf6811.jpg"
        alt="">
      <div class="content">
        <p class="title">Tytuł filmu</p>
        <div class="description">
          <span>2019</span>
          <span class="separator">|</span>
          <span>horror</span>
        </div>
      </div>
    </div>

    <app-current-films-card title="X-Men" type="Science-Fiction" year="2019" poster="https://media.multikino.pl/thumbnails/50/rc/MTFCMUNG/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIzMTkiLCI0NzciXSwibW9kZSI6Imluc2V0In19/uploads/images/films_and_events/mroczna-phoenix-pl2_3f4ab84c1c.jpg"></app-current-films-card>

  </div>
</div>

<p class="hd1">Zapowiedzi</p>

<app-promised-films></app-promised-films>

<app-footer></app-footer>
