<div class="card">
  <div class="poster">
    <img src="{{image}}" alt="Poznań">
  </div>
  <div class="description">
    <div class="title">
      {{name}}
    </div>
    <div class="address">
      <i class="material-icons">location_city</i>
      {{street}}
    </div>
    <div class="phone">
      <i class="material-icons">call</i>
      {{phone}}
    </div>
    <div class="email">
      <i class="material-icons">email</i>
      {{email}}
    </div>
    <div class="web">
      <i class="material-icons">language</i>
      {{web}}
    </div>
  </div>
</div>
