<p class="hd1">Ceny biletów</p>

<div class="price_content">
  <div class="price_item">
    <div class="title">2D</div>
    <div class="type">Normalny</div>
    <div class="icon">
      <i class="material-icons">movie_creation</i>
    </div>
    <div class="price">25zł</div>
  </div>

  <div class="price_item">
    <div class="title">3D</div>
    <div class="type">Normalny</div>
    <div class="icon">
      <i class="material-icons">movie_creation</i>
    </div>
    <div class="price">35zł</div>
  </div>

  <div class="price_item">
    <div class="title">2D</div>
    <div class="type">Ulgowy</div>
    <div class="icon">
      <i class="material-icons">movie_creation</i>
    </div>
    <div class="price">20zł</div>
  </div>

  <div class="price_item">
    <div class="title">3D</div>
    <div class="type">Ulgowy</div>
    <div class="icon">
      <i class="material-icons">movie_creation</i>
    </div>
    <div class="price">30zł</div>
  </div>
</div>

<p class="hd1">Ceny bufetu</p>

<div class="price_content">
  <div class="price_item">
    <div class="title">Popcorn</div>
    <div class="type">Mały</div>
    <div class="icon">
      <i class="material-icons">fastfood</i>
    </div>
    <div class="price">10zł</div>
  </div>

  <div class="price_item">
    <div class="title">Popcorn</div>
    <div class="type">Duży</div>
    <div class="icon">
      <i class="material-icons">fastfood</i>
    </div>
    <div class="price">15zł</div>
  </div>

  <div class="price_item">
    <div class="title">Nachos</div>
    <div class="type">Mały</div>
    <div class="icon">
      <i class="material-icons">fastfood</i>
    </div>
    <div class="price">10zł</div>
  </div>

  <div class="price_item">
    <div class="title">Nachos</div>
    <div class="type">Duży</div>
    <div class="icon">
      <i class="material-icons">fastfood</i>
    </div>
    <div class="price">15zł</div>
  </div>

  <div class="price_item">
      <div class="title">Napój</div>
      <div class="type">Mały</div>
      <div class="icon">
        <i class="material-icons">local_drink</i>
      </div>
      <div class="price">10zł</div>
    </div>

    <div class="price_item">
      <div class="title">Napój</div>
      <div class="type">Duży</div>
      <div class="icon">
        <i class="material-icons">local_drink</i>
      </div>
      <div class="price">15zł</div>
    </div>
</div>
