<p class="hd1">Ceny biletów</p>

<div class="price_content">

  <div class="price_item" *ngFor="let ticet of ticets">
    <div class="title">{{ticet.title}}</div>
    <div class="type">{{ticet.type}}</div>
    <div class="icon">
      <i class="material-icons">movie_creation</i>
    </div>
    <div class="price">{{ticet.price}}zł</div>
  </div>
</div>

<p class="hd1">Ceny bufetu</p>

<div class="price_content">
  <div class="price_item" *ngFor="let ticet of dishes">
    <div class="title">{{ticet.title}}</div>
    <div class="type">{{ticet.type}}</div>
    <div class="icon">
      <i class="material-icons">fastfood</i>
    </div>
    <div class="price">{{ticet.price}}zł</div>
  </div>
</div>

<app-footer></app-footer>
