<p class="hd1">Skontaktuj się</p>

<div class="content">

  <div class="card">
    <div class="foto">
      <div class="poster">
        <img
          src="{{photo}}"
          alt="{{fullName}}">
      </div>
    </div>

    <div class="description">
      <div class="name">
        {{fullName}}
      </div>
      <div class="contacts">
        <i class="material-icons">call</i>
        <i class="material-icons">email</i>
        <i class="material-icons">language</i>
      </div>
    </div>
  </div>

</div>
