<p class="hd1">Skontaktuj się</p>

<div class="content">

  <div class="card">
    <div class="foto">
      <div class="poster">
        <img
          src="https://media.licdn.com/dms/image/C5603AQF5cTQ_Dc16Nw/profile-displayphoto-shrink_200_200/0?e=1562198400&v=beta&t=jfFgVdOSnP6But4BQ5Ubu_bqdt9xRVpX4cpOszUP9TE"
          alt="Poznań">
      </div>
    </div>

    <div class="description">
      <div class="name">
        Damian Ruta
      </div>
      <div class="contacts">
        <i class="material-icons">call</i>
        <i class="material-icons">email</i>
        <i class="material-icons">language</i>
      </div>
    </div>
  </div>

</div>
