@import '../variables';

.app {

  .header {
    @include general_margin;
    position: sticky;
    top: 0;
    background: rgba($background_secondary, 0.75);
    // height: 50px;
    border-bottom: 1px solid $line_secondary;
  }

  .content {
    @include general_margin;
  }

}
