@import '../variables';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    display: flex;
    background: $background_secondary;
    height: 50px;
    border-bottom: 1px solid $line_secondary;
  }

  .content {
    display: flex;
    flex: 1;
  }

  .footer {
    display: flex;
    background: $background_secondary;
    height: 50px;
    border-top: 1px solid $line_secondary;
  }
}
