@import '../variables';

.app {

  .header {
    @include general_margin;
    position: sticky;
    top: 0;
    background: rgba($background_secondary, 0.85);
    border-bottom: 1px solid $line_secondary;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    z-index: 1;
  }

  .content {
    @include general_margin;
  }

}
