<p class="hd1">Filmy w Twoim mieście
  <i class="material-icons">location_city</i>
  <span class="city">{{city}}</span>
</p>

<div class="navigator">
  <div class="menu">
    <div class="button" (click)="selectCity('Poznań')">
      Poznań
    </div>
    <div class="button" (click)="selectCity('Szczecin')">
      Szczecin
    </div>
    <div class="button" (click)="selectCity('Gdańsk')">
      Gdańsk
    </div>
    <div class="button" (click)="selectCity('Warszawa')">
      Warszawa
    </div>
    <div class="button" (click)="selectCity('Wrocław')">
      Wrocław
    </div>
    <div class="button" (click)="selectCity('Kraków')">
      Kraków
    </div>
  </div>

  <div class="content">

    <div class="card">
      <div class="poster">
        <img
          src="https://media.multikino.pl/thumbnails/50/rc/OURDOEJC/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIxMDAwMCIsIjEwMDAwIl0sIm1vZGUiOiJpbnNldCJ9fQ==/uploads/images/films_and_events/godzilla-pl_4c8665e69c.jpg"
          alt="">
      </div>
      <div class="description">
        <div class="title">
          GODZILLA II: KRÓL POTWORÓW
        </div>
        <div class="type">
          Gatunek: <span>Akcja</span>
        </div>
        <div class="time">
          Czas: <span>130</span> minuty
        </div>
        <div class="age">
          Od lat: <span>Akcja</span>
        </div>
        <div class="text">
          Kolejna odsłona filmowego MonsterVerse, opowiada historię o bohaterskich czynach członków kryptozoologicznej
          agencji Monarch, którzy muszą zmierzyć się z całą zgrają gigantycznych potworów.
        </div>
        <div class="buy_text">Kup bilet na film</div>
        <div class="notLoged" *ngIf="!isUserLoged">
          Musisz być zalogowany aby kupić bilet na film!
        </div>
        <div class="isLoged" *ngIf="isUserLoged">
          <i class="material-icons">location_city</i>
          <select>
            <option>Wybierz miasto</option>
            <option>Poznań</option>
            <option>Szczecin</option>
          </select>
          <i class="material-icons">confirmation_number</i>
          <a>Kup bilet</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="poster">
        <img
          src="https://media.multikino.pl/thumbnails/50/rc/OURDOEJC/eyJ0aHVtYm5haWwiOnsic2l6ZSI6WyIxMDAwMCIsIjEwMDAwIl0sIm1vZGUiOiJpbnNldCJ9fQ==/uploads/images/films_and_events/godzilla-pl_4c8665e69c.jpg"
          alt="">
      </div>
      <div class="description">
        <div class="title">
          GODZILLA II: KRÓL POTWORÓW
        </div>
        <div class="type">
          Gatunek: <span>Akcja</span>
        </div>
        <div class="time">
          Czas: <span>130</span> minuty
        </div>
        <div class="age">
          Od lat: <span>Akcja</span>
        </div>
        <div class="text">
          Kolejna odsłona filmowego MonsterVerse, opowiada historię o bohaterskich czynach członków kryptozoologicznej
          agencji Monarch, którzy muszą zmierzyć się z całą zgrają gigantycznych potworów.
        </div>
        <div class="buy_text">Kup bilet na film</div>
        <div class="notLoged" *ngIf="!isUserLoged">
          Musisz być zalogowany aby kupić bilet na film!
        </div>
        <div class="isLoged" *ngIf="isUserLoged">
          <i class="material-icons">location_city</i>
          <select>
            <option>Wybierz miasto</option>
            <option>Poznań</option>
            <option>Szczecin</option>
          </select>
          <i class="material-icons">confirmation_number</i>
          <a>Kup bilet</a>
        </div>
      </div>
    </div>

    <div class="card">

    </div>
    <div class="card">

    </div>
  </div>
</div>
