@import "../../variables";

.hd1 {
  display: flex;

  .material-icons {
    color: gray;
    margin: 0px 10px 0px 20px;
    font-size: 20px;
  }
  .city {
    color: white;
  }
}

.navigator {
  display: flex;
  flex-direction: row;

  .menu {
    display: flex;
    flex-direction: column;

    .button {
      min-width: 100px;
      padding: 15px;
      border-bottom: 1px solid #80808059;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      font-size: 16px;
      color: #c7c7c7;
      transition: color 0.3s;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }

  .content {
    @include content_horizontal();

    .card {
      @include card();
      display: flex;
      flex-direction: row;
      width: 600px;
      height: 300px;
      margin: 10px;

      .poster {
        display: flex;
        width: 200px;
        // border-radius: 4px;

        img {
          width: 100%;
          border-radius: 4px;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
        color: $font_color;

        .title {
          font-size: 20px;
          margin-bottom: 20px;
        }
        .type,
        .time,
        .age,
        .buy_text {
          font-size: 11px;
          text-transform: uppercase;
          color: gray;
        }
        span {
          color: $font_color;
          font-size: 16px;
          text-transform: capitalize;
          margin: 0 5px;
        }
        .text {
          font-size: 12px;
          margin: 10px 0;
        }
        .buy_text {
          margin: 10px 0 10px 0;
        }
        .notLoged {
          // margin-top: 10px;
          font-size: 14px;
          display: flex;
          justify-content: center;
          color: #ff000080;
        }
        .isLoged {
          display: flex;
          flex-direction: row;

          select {
            width: 200px;
            height: 24px;
            font-size: 13px;
            text-transform: uppercase;
            background: transparent;
            color: $font_color;
            border: none;
            border-bottom: 1px solid $font_color;
            margin-right: 10px;
            transition: border-bottom .3s, color .3s;

            &:hover,
            &:focus {
              border-bottom: 1px solid $color_selected;
              color: white;
              outline: none;
            }
          }
          a {
            // margin: 0 10px;
            display: flex;
            align-items: center;
            font-size: 16px;
            text-transform: uppercase;
            transition: color .3s;
            cursor: pointer;

            &:hover {
              color: white;
            }
          }
          i {
            font-size: 20px;
            display: flex;
            align-items: center;
            margin: 0 5px;
            color: gray;
          }
        }
      }
    }
  }
}
