<p class="hd1">Filmy w Twoim mieście
  <i class="material-icons">location_city</i>
  <span class="city">{{city}}</span>
</p>

<div class="navigator">
  <div class="menu">
    <div class="button" (click)="selectCity('Poznań')">
      Poznań
    </div>
    <div class="button" (click)="selectCity('Szczecin')">
      Szczecin
    </div>
    <div class="button" (click)="selectCity('Gdańsk')">
      Gdańsk
    </div>
    <div class="button" (click)="selectCity('Warszawa')">
      Warszawa
    </div>
    <div class="button" (click)="selectCity('Wrocław')">
      Wrocław
    </div>
    <div class="button" (click)="selectCity('Kraków')">
      Kraków
    </div>
  </div>

  <div class="content">

    <div class="card" *ngFor="let film of films">
      <div class="poster">
        <img
          src="{{film.poster}}"
          alt="">
      </div>
      <div class="description">
        <div class="title">
          {{film.title}}
        </div>
        <div class="type">
          Gatunek: <span>{{film.type}}</span>
        </div>
        <div class="time">
          Czas: <span>{{film.time}}</span> minuty
        </div>
        <div class="age">
          Od lat: <span>{{film.age}}</span>
        </div>
        <div class="text">
          {{film.description}}
        </div>
        <div class="buy_text">Kup bilet na film</div>
        <div class="notLoged" *ngIf="!isUserLoged">
          Musisz być zalogowany aby kupić bilet na film!
        </div>
        <div class="isLoged" *ngIf="isUserLoged">
          <i class="material-icons">event_note</i>
          <select [(ngModel)]="film.selectedDate">
            <!-- <option>Wybierz datę</!--> -->
            <option *ngFor="let date of film.date" [ngValue]="date">{{date}}</option>
          </select>
          <i class="material-icons">confirmation_number</i>
          <a (click)="buyTicket(film.title, film.selectedDate)">Kup bilet</a>
        </div>
      </div>
    </div>

  </div>
</div>
