$background_primary: rgb(22, 22, 22);
$background_secondary: rgb(29, 29, 29);

$color_primary: rgb(238, 238, 238);

$line_secondary: rgb(32, 32, 32);

$font_color: rgb(199, 199, 199);
$font_color_selected: white;
$color_selected: rgb(29, 153, 255);

$border_color: #313131;
$panel_color: #292929;


@mixin general_margin {
  padding: 0 50px;
}

@mixin card {
  background: $panel_color;
  border: 1px solid $border_color;
  border-radius: 5px;
  margin: 10px 10px;
  color: $font_color;
  transition: color 0.3s, border 0.3s;

  &:hover {
    border: 1px solid $color_selected;
    // box-shadow: inset 0px 0px 20px -2px rgba($color_selected ,0.75);
    color: white;
  }
}

@mixin content_horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;
}
