@import "../../variables";

// $border_color: #313131;
// $panel_color: #292929;

@keyframes sliding {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translate(-39%);
  }
}

.current_films {
  position: relative;
  overflow: hidden;

  border-left: 1px solid $border_color;
  border-right: 1px solid $border_color;
  margin: 40px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background-image: linear-gradient(to left, #00000060, transparent);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    background-image: linear-gradient(to right, #00000060, transparent);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
  }

  .current_films_slider {
    display: flex;
    flex-direction: row;
    position: relative;
    animation: sliding 15s infinite alternate-reverse linear;

    // .current_films_card {
    //   display: flex;
    //   flex-direction: column;
    //   min-width: 260px;
    //   height: 480px;
    //   background: $panel_color;
    //   border: 1px solid $border_color;
    //   border-radius: 5px;
    //   margin: 10px 10px;
    //   color: $font_color;

    //   transition: color 0.3s, border 0.3s;

    //   img {
    //     width: 100%;
    //     border-bottom: 1px solid $border_color;
    //     border-radius: 5px;
    //   }

    //   .content {
    //     display: flex;
    //     flex-direction: column;
    //     flex: 1;
    //     justify-content: center;
    //     align-items: center;

    //     .title {
    //       font-size: 20px;
    //       font-weight: bold;
    //       text-transform: uppercase;
    //     }

    //     .description {
    //       font-size: 12px;
    //       text-transform: uppercase;
    //       margin-top: -15px;

    //       .separator {
    //         margin: 0 5px;
    //       }
    //     }
    //   }

    //   &:hover {
    //     border: 1px solid $color_selected;
    //     color: white;
    //   }
    // }
  }
}

.promised_films {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
